<div class='header w-full h-12 bg-primary'>
  <div class='nav h-full px-2'>
    <ul class='flex flex-row items-center h-full text-s—light'>
      <li class='nav-item active'>Dashboard</li>
      <li class='nav-item'>Map tracking</li>
      <li class='nav-item'>User Management</li>
    </ul>
  </div>
</div>